body {
  background-image: linear-gradient(to right, lightslategray, lightseagreen);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.row {
  display: flex;
}

.square {
  width: 150px;
  height: 150px;
  background-color: black;
  margin: 5px;
  font-size: 140px;
  text-align: center;
  border-radius: 8px;
  color: white;
}

.square:hover {
  cursor: pointer;
}

.winner-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: cadetblue;
  color: white;
  font-size: 40px;
  font-weight: bold;
  padding: 5% 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  display: none;
}

.winner-element button {
  width: 130px;
  height: 40px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 8px;
}

.winner-element button:hover {
  cursor: pointer;
}
